.logo {
  padding: 20px 0;
  margin-bottom: 20px;
  text-align: center;
}
.msg {
  text-align: center;
  margin-bottom: 20px;
}
.latest {
  .title {
    text-align: center;
    color: #f44;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  .detail {
    text-align: justify;
    .list-title {
      margin-left: 2em;
    }
    .list-item {
      float: right;
      margin-right: 2em;
    }
  }
}
