.latest {
  .title {
    text-align: center;
    color: #f22;
    font-size: 1.2em;
  }
  .detail {
    text-align: justify;
    .list-title {
      margin-left: 2em;
    }
    .list-item {
      float: right;
      margin-right: 2em;
    }
  }
}
